header{
    margin:0;
    position: relative;
    width: auto;
    user-select: none;
}

header button{
    width: auto;
    margin:10px;
    position: relative;
    z-index: 2;
    background-color: rgb(71, 71, 209);
}

header #profile{
    float: inline-end;
    margin:10px;
    width: 65px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}